<main id="main-content"
  data-article="<%= article.to_json(only: %i[id title cached_tag_list published body_markdown updated_at]) %>"
>
  <%= form_with(model: article, local: true, class: "crayons-article-form", id: "article-form") do |form| %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="crayons-card crayons-article-form__content">
      <div data-testid="article-form__body" id="article-form__body" class="crayons-article-form__body drop-area text-padding">
        <div class="crayons-article-form__toolbar border-t-0">
          <div id="upload-success-info" aria-live="polite" class="screen-reader-only"></div>
          <div class="flex items-center"></div>
        </div>
        <div class="crayons-autocomplete h-100" style="min-height: 243px;">
          <%= form.text_area :body_markdown, class: "crayons-textfield crayons-textfield--ghost crayons-article-form__body__field ff-monospace fs-l h-100", id: "article_body_markdown", style: "min-height: 243px; overflow:scroll;" %>
        </div>
      </div>
    </div>

    <div class="crayons-article-form__footer">
      <%= form.submit class: "crayons-btn mr-2 whitespace-nowrap" %>
    </div>
  <% end %>

</main>