<nav class="mb-6" id="main-navigation" aria-label="railslation">
	<ul class="default-navigation-links sidebar-navigation-links spec-sidebar-navigation-links">
		<li>
			<a href="<%= root_path %>" class="crayons-link crayons-link--block">
				<%= inline_svg_tag("nav/home.svg", class: "crayons-icon crayons-icon--default", aria_hidden: true) %>
				<%= t("views.main.home") %>
			</a>
		</li>
		<li>
			<a href="<%= root_path %>" class="sidebar-navigation-link crayons-link crayons-link--block">
				<%= inline_svg_tag("nav/rails.svg", class: "crayons-icon crayons-icon--default", aria_hidden: true) %>
				<%= t("views.main.official") %>
			</a>
		</li>
	</ul>
</nav>