<!DOCTYPE html>
<html>
  <head>
    <title>Railslation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- asset pipline js-->
    <%= javascript_include_tag "base", defer: true %>
    <!-- webpacker js-->
    <%= javascript_packs_with_chunks_tag 'application', defer: true %>

    <%= yield(:page_meta) %>
    
    <meta name="theme-color" content="#000000" />
  </head>

  <body data-user-status="<%= user_logged_in_status %>" class="default-header">
    <%= render "layouts/styles", qualifier: "secondary" %>
    <%= render "layouts/top_bar" %>
    <div id="message-notice"></div>

    <div id="page-content" class="wrapper <%= view_class %>" data-current-page="<%= current_page %>">
      <% if flash[:global_notice] %>
        <div class="crayons-banner" id="setup-banner" aria-live="polite">
          <%= flash[:global_notice] %>
        </div>
      <% end %>
      <div id="page-content-inner">
        <div id="page-route-change" class="screen-reader-only" aria-live="polite" aria-atomic="true"></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>